.well
  =form_for @search, url: {action: "search"} do |f|
    %h3 Please specify a date range...
    .row-fluid
      .span2 
        =f.label :start_date
        =f.text_field :start_date
      .span2
        =f.label :end_date
        =f.text_field :end_date
      .span2=f.submit 'Search', class: 'btn'
      


      


