/ = hidden_field_tag :direction, params[:direction]
/ = hidden_field_tag :sort, params[:sort]
/ %table.pretty
/   %tr
/     %th= sortable "assignment_attempt_id"
/     %th= sortable "student_id"
/     %th= sortable "created_at", "Created"
/   - for transcript in @transcripts
/     %tr
/       %td= transcript.assignment_attempt_id
/       %td= transcript.student_id)
/       %td= transcript.created_at.strftime("%B %e, %Y")
/ = will_paginate @transcript