=render "search/form", search: @search

%table
  %tr
    %th Created At:
  
%ul
- @results.each do |d|
  %li
    =d.created_at
    =d.speech
    =d.speaker
    =d.match_status
		



/ .pull-right
/   =will_paginate @results
