=render "search/form", transcript: @transcript

/- title "Product"
%p
  %strong Lines of Dialogue Count:
  = @transcript.lines_of_dialogue_count
%p
  %strong Student ID:
  = @transcript.student_id
%p
  %strong Created At:
  = @transcript.created_at